/* Βγάζουμε background από Material shell */
mat-sidenav-container,
mat-sidenav-content {
  background: transparent !important;
}

/* Wrapper του router-outlet */
.recycle-bg {
  width: 100%;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
  padding: 16px;

  background-color: #f4fbf6;

  background-image: url("/can-recycle-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: center 60%; 
}

.active-link {
  font-weight: 700;
}