<div style="display:flex; justify-content:center; margin-top:80px;">
  <mat-card style="width:360px;">
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" style="width:100%; margin-top:16px;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.invalid">
          Βάλε σωστό email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width:100%;">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password')?.invalid">
          Βάλε password
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        style="width:100%; margin-top:16px;"
        type="submit" (click)="login()">
        Login
      </button>
    </form>

    <p *ngIf="error" style="color:red; margin-top:10px;">
      {{ error }}
    </p>
  </mat-card>
</div>
